html{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

h1{ 
    padding-left: 30px;
    color: black;

} 

#legend {

    background-color: gray;
    color: white;
    padding: 15px 10px;

  }

body{ 
    background: lightgray ; 
    background-size: 100% ;  
    margin: 0;
    height: 100%  ;
    font-size: 14px;
} 

.input-group{ 
    margin: 10px  0 ;
}

.input-group label { 
    color: black;
}

.input-group input :: placeholder { 
    color: white;
    font-weight: 300;
}


.button{ 
    
    border-radius: 4px;
    padding: 10px 15 px;
    border-radius: 4px;
    color: black;
    font-weight: bold; 
    cursor: pointer;  
}

.button:hover { 
    background-color: grey ;     
}

#form {
   
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;

}